@import "tailwindcss";

@theme {
  --color-navy: #06283D;
  --color-coral: #EF7C4A;
  --color-gold: #FFD27A;
  --color-cream: #FBF6EC;
  --color-beige: #FFF6E8;
  --color-sky: #CDE0E2;
  --color-ash: #3D4A5A;
  --color-sand: #8A7D6B;
}

@theme inline {
  --font-sans: var(--font-noto);
}
